@page "/mine"

@using BLL.Models.Tools
@using BLL.Services
@inject IMineService mineservice
@inject ITextService textservice

<h1>Welcome To the Mine</h1>

<p> @stoneText</p>

<button class="btn btn-primary" @onclick="GatherStone">Gather Stone</button>

@code {
    private string stoneText;
    public Minecart minecart = new Minecart();

    private void GatherStone()
    {
        minecart = mineservice.AddStoneTo(minecart);
        stoneText = textservice.CountOfStonesIn(minecart);
    }
}